
#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository.
#
# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# The original version of this file is found here:
# https://github.com/RailsApps/rails-composer/blob/master/files/gitignore.txt
#
# Corrections? Improvements? Create a GitHub issue:
# http://github.com/RailsApps/rails-composer/issues
#----------------------------------------------------------------------------

/config/puma.rb
# add /config/database.yml if it contains passwords
/config/ldap.yml
/config/database.yml
/config/secrets.yml

# keep this out of the project since it can't be present in dev mode.
config/puma.rb

# exclude this since I am switching between ldap and db auth frequently.
app/models/user.rb

# Environment files that may contain sensitive data
.env
.powenv
docprivate/
/shared/
/deployed/
/offline/
db/yamldb/
db/yamldb_date/
/db/export
CI-Lists/

# mac stuff..

._.*
._*


#----------------------------------------------------------------------------


# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/
/vendor/assets/javascripts

# minimal Rails specific artifacts
#db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*


# various artifacts
**.war
*.rbc
*.sassc
.redcar/
.sass-cache
/config/config.yml
/coverage.data
/coverage/
/db/*.javadb/
#/db/*.sqlite3
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/specifications
rerun.txt
pickle-email-*.html
.zeus.sock

# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile ~/.gitignore_global
#
# Here are some files you may want to ignore globally:

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp


# tilde files are usually backup files from a text editor
*~

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# See https://help.github.com/articles/ignoring-files for more about ignoring files.
#
# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile '~/.gitignore_global'

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.log.*
/tmp

# Ignore (test) reports
/brakeman-output.*
/coverage
/erd.pdf

# Ignore results of `rake assets:precompile` or `rake bower:install`.
/public/assets/
/vendor/assets/bower_components/
/npm-debug.log

# Never check passwords into source control!
/.env

# attachments
/public/uploads/*
/nbproject/private/

/.project

# See https://help.github.com/articles/ignoring-files for more about ignoring files.
#
# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile '~/.gitignore_global'

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
#/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
